<div class="container">
  <nav class="pagination" role="pagination">
    <div class="pagination-nav">
      {% if paginator.next_page %}
        <a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">next</a>
      {% endif %}

      <span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span>

      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="{{ site.baseurl }}/">prev</a>
        {% else %}
          <a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/">prev</a>
        {% endif %}
      {% endif %}
    </div>
  </nav>
</div>
